# Android / Gradle
*.iml
.gradle/
build/
local.properties
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex

# Firebase / Vercel / Node
node_modules/
firebase-debug.log
firebase-debug.*.log
.firebase/
.vercel/

# Secrets
*.keystore
*.jks
google-services.json
serviceAccountKey.json
.env
